@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Font */
    --font: 'Poppins', sans-serif;

    /* Colors */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);

    scroll-behavior: smooth;
}

body {
    min-width: 320px;
    font-size: 15px;
    font-family: var(--font);
    background: var(--very-light-gray);
    color: var(--grayish-blue);
}

/* Content */
.content {
    max-width: 400px;
    margin: 0 auto;
}

/* Main */
.main {
    min-height: 100vh;
    padding: 3em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

/* Texts */
.main__texts {
    text-align: center;
}

.main__h1 {
    color: var(--very-dark-blue);
    font-size: 1.5em;
    font-weight: 200;
}

.main__h2 {
    color: var(--very-dark-blue);
    font-size: 1.3em;
    font-weight: 600;
}

.main__texts > .main__p {
    margin-top: 1em;
}

.main__p {
    line-height: 1.5;
}

/* Articles */
.main__articles {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    gap: 1.5em;
}

.main__article {
    min-width: 150px;
    min-height: 250px;
    padding: 1.5em;
    border-radius: 5px;
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / .2);
    cursor: pointer;
    transition: transform .2s ease-out;
    display: grid;
    grid-template-rows: repeat(2, min-content) 1fr;
}

.main__article:hover {
    transform: translateY(-10px);
}

.main__article--supervisor {
    border-top: 3px solid var(--cyan);
}
.main__article--team-builder {
    border-top: 3px solid var(--red);
}
.main__article--karma {
    border-top: 3px solid var(--orange);
}
.main__article--calculator {
    border-top: 3px solid var(--blue);
}

.main__article > .main__p {
    margin-top: .5em;
}

.main__img {
    justify-self: end;
    align-self: end;
    margin-bottom: 1em;
}

/* Tablet and desktop */
@media only screen and (min-width: 768px) {
    .content {
        max-width: 1200px;
    }

    .main__texts {
        max-width: 500px;
    }

    .main__texts > .main__h1,
    .main__texts > .main__h2 {
        font-size: 2.5em;
    }

    .main__articles {
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
    }

    .main__article--supervisor {
        grid-row: span 2;
        align-self: center;
    }

    .main__article--calculator {
        grid-row: span 2;
        align-self: center;
    }

    .main__article--karma{
        grid-column: 2;
        grid-row: 2;
    }

    .main__article {
        min-height: 280px;
    }
}